# Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sys
sys.path.insert(0, '../src/')
%matplotlib inline

import groupdynamics_logs_lib

# Helper functions

In [2]:
import imp
def reload():
    imp.reload(groupdynamics_logs_lib)

In [11]:
reload()

# Parameters

In [4]:
base_directory = '~/Datasets/GroupDynamicsData/'

# Session_304_Report_2020_01_13_17_25_15_gds100
folder_names = [
    'Session_305_Report_2020_01_14_17_44_00_gds101',
    'Session_306_Report_2020_01_18_14_44_54_gds102',
    'Session_307_Report_2020_01_18_14_44_55_gds103']

# Main

In [21]:
folder_name = folder_names[2]

directory = base_directory + folder_name
team_log = groupdynamics_logs_lib.TeamLogsLoader(directory=directory)

In [22]:
team_log.get_answers_in_simple_format()

,Question,gds103.1's answer,gds103.1's confidence,gds103.2's answer,gds103.2's confidence
0,GD_solo_asbestos0,$17.00,60,20,85
1,GD_solo_asbestos1,$18,60,20,
2,GD_solo_asbestos2,$18.50,60,18.50,
3,GD_solo_asbestos3,$18.50,70,18.50,
4,GD_solo_disaster0,100 million dollars,60,"10,000",100
5,GD_solo_disaster1,"$50,000",70,"50,000",
6,GD_solo_disaster2,"$75,000",80,"75,000",
7,GD_solo_disaster3,"$75,000",90,"75,000",
8,GD_solo_school0,0.6,75,50,75
9,GD_solo_school1,0.6,80,.6,
10,GD_solo_school2,0.6,90,.6,80
11,GD_solo_school3,0.6,100,.6,
12,GD_solo_sports0,0.5,50,80,85
13,GD_solo_sports1,0.5,70,,
14,GD_solo_sports2,0.6,80,.5,
15,GD_solo_sports3,0.6,80,.5,
16,GD_solo_surgery0,0.3,60,.85,85
17,GD_solo_surgery1,0.3,70,.3,
18,GD_solo_surgery2,0.3,100,.3,
19,GD_solo_surgery3,0.3,100,.3,

In [23]:
team_log.get_influence_matrices()

array([[['60', ''],
        ['', '100']],

       [['50', '50'],
        ['', '90']],

       [['60', '40'],
        ['', '75']],

       [['50', '50'],
        ['', '50']],

       [['50', '50'],
        ['', '50']],

       [['70', '30'],
        ['', '50']],

       [['70', '30'],
        ['', '80']],

       [['60', '40'],
        ['', '80']],

       [['60', '40'],
        ['', '80']],

       [['50', '50'],
        ['', '80']],

       [['70', '30'],
        ['30', '80']],

       [['80', '20'],
        ['', '50']],

       [['100', '0'],
        ['', '0']],

       [['100', '0'],
        ['', '0']],

       [['100', '0'],
        ['', '0']]], dtype='<U3')